@use "global.scss" as *;

footer {
    @include margin-padding(3px);

    h3 {
        font-size: $font-md;
        color: $primary-color;
        text-align: center;
    }

    &:hover {
        @include transition(color 0.5s, background-color 1s);
        color: $secondary-color;
        background-color: $primary-color;
    }
}