@use "global.scss" as *;

nav {
    @include margin-padding(5px);
    background-color: $primary-color;

    ul {
        list-style: none;
    
        a {
            color: $tertiary-color;
            font-size: $font-lg;
            text-decoration: none;
    
            &:hover {
                color: $secondary-color;
            }
        }
    }
}